// sidebar
$menuText: #646a79;
$menuActiveText: #FF6336;
$subMenuActiveText:#FF6336; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #f9f9f9;
$menuHover:#f9f9f9;

$subMenuBg:#f9f9f9;
$subMenuHover:#f9f9f9;

$sideBarWidth: 210px;


// 后台管理导航颜色
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
